<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Photo {{photo.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
  <ion-card-header>
    <ion-card-title>{{photo.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-img src="{{photo.thumbnailUrl}}"></ion-img>


    <ion-list style="text-align:center; background-color: transparent">
      <ion-button color="success" (click)="updatePhoto(photo)">Modifier</ion-button>
      <ion-button color="danger" (click)="delete(photo)">Effacer</ion-button>
    </ion-list>
  </ion-card-content>
  </ion-card>
</ion-content>
