<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Photo {{photo.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <h1>{{photo.title}}</h1>
    <ion-img src="{{photo.thumbnailUrl}}"></ion-img>

    <ion-list style="text-align:center">
      <ion-button color="success" (click)="updatePhoto(photo)">Modifier</ion-button>
      <ion-button color="danger" (click)="delete(photo)">Effacer</ion-button>
    </ion-list>
  </ion-label>
</ion-content>
