<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des albums
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-list style="text-align:center">
    <h1>Liste des Albums</h1>
    <ion-button color="success" (click)="ajouterAlbum()">Ajouter un album</ion-button>
  </ion-list>


  <ion-card *ngFor="let album of listAlbum">
    <ion-card-content (click)="afficherAlbum(album.id)">
      <ion-card-subtitle>Album N°{{album.id}}</ion-card-subtitle>
        <ion-card-title>{{album.title}}</ion-card-title>
      <p style="text-align: right; margin-top: 7px"><span style="color: red">Voir l'album</span></p>
    </ion-card-content>
  </ion-card>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
