<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form a (ngSubmit)="savePhoto()" >
    <ion-item>
      <ion-label position="floating">Id album :</ion-label>
      <ion-input type="text" [(ngModel)]="photo.albumId"  name="albumId" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">id : </ion-label>
      <ion-input type="text" [(ngModel)]="photo.id" name="id" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">title : </ion-label>
      <ion-input type="text" [(ngModel)]="photo.title" name="title" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">url : </ion-label>
      <ion-input type="text" [(ngModel)]="photo.url" name="url" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">thumbnailUrl : </ion-label>
      <ion-input type="text" [(ngModel)]="photo.thumbnailUrl" name="thumbnailUrl" required></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Enregistrer</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
